* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #4E6CB5;
}

#form-holder {
    max-width: 415px;
    width: 100%;
    margin: auto;
}


.form-header {
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    background-color: #2196F3;
    padding: 35px 20px;
    color: #fff;
}

.form-progress {
    margin-right: 16px;
    border: 2px solid #92CBF9;
    border-radius: 50%;
    font-size: 12px;
    width: 35px;
    height: 35px;
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.form-title p:first-child {
    font-size: 13px;
}

.form-title p:last-child {
    font-size: 22px;
}

.form-body {
    background-color: #fff;
    padding: 0 20px;
}

.form-group {
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    padding-top: 30px;
}

.form-group.align-items-top {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.form-group:last-child {
    padding-bottom: 30px;
}

.validation {
    width: 25px;
    height: 25px;
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    box-shadow: 0 2px 15px #00000022;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    color: #59B8F8;
    margin-right: 25px;
}

.input-box {
    position: relative;
    color: #9C9A9B;
}

.input-box label {
    position: absolute;
    bottom: 15px;
    font-size: 18px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.input-box label.active {
    bottom: 40px;
    left: 0;
    font-size: 12px;
}

.input-box input {
    font-size: 18px;
    color: #9C9A9B;
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid #D7D7D7;
}

.input-box input:focus {
    color: #2296F3;
}

.contact-title {
    margin-bottom: 30px;
}

.input-box input[type=radio]{
    margin-right: 10px;
}